@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <div class="buttonclass" >
    <button id="mybutton">Press Me</button>
    <p id="mypara" style="display:none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

<script>
    document.getElementById("mybutton").addEventListener("click", function () {
        var paragraph = document.getElementById("mypara");
        paragraph.style.display = "block";
    });
</script> *@

@* <div>
    <form action="/Home/language" method="get">
        <label for="options">Select an Option:</label>
        <select id="options" name="id">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <!-- Add more options as needed -->
        </select>
        <button type="submit">Submit</button>
    </form>

</div> *@

<h1>@Localizer["Welcome"]</h1>

<div>
    <a href="?culture=en">English</a>
    <a href="?culture=es">Español</a>
    <a href="?culture=hi">Hindi</a>
</div>

 