<div class="text-center">
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<table style="width: 100%;">
    <tr>
        <td><app-add-employee></app-add-employee></td>
    </tr>
    <tr>
        <td><app-employee-list></app-employee-list></td>
    </tr>
</table>

</div>
<p>DataBinding Demo</p>

<app-data-binding></app-data-binding>
<router-outlet />
