/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'adelia'; /* Replace with your font name */
    src: url('./assets/fonts/adelia.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}